<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
<body class="standart">
<header th:replace="fragments :: header"></header>
<h2 class="def-text">All Shops:</h2>

<div class="col-6">
    <h3 class="def-text" th:unless="${shops} and ${shops.size()}">There are no shops!</h3>
    <table th:if="${shops.size()>0}" class="table-template">
        <th>Shop name</th>
        <th>Works with:</th>
        <tr th:each="shop : ${shops}">
            <td><a class="btn btn-info" th:href="@{'/shops/shop-view/'+${shop.id}}" th:text="${shop.name}"></a></td>
            <td th:text="${shop.carPreferences}"></td>
        </tr>
    </table>
</div>
</body>
</html>
