<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments :: head"/>
</head>
<body class="standart">
<header th:replace="fragments :: header"></header>
<div class="col-6">
    <h3 class="def-text" th:unless="${qualifications} and ${qualifications.size()}">There are no qualifications for this
        shop. Please
        hire some repairmen!</h3>

    <div th:if="${qualifications.size()>0}">
        <h3 class="def-text">Shop qualifications:</h3>
        <table class="table-template">
            <tr th:each="qual : ${qualifications}">
                <td th:text="${qual}"></td>
            </tr>
        </table>
        <td><a class="button" th:href="@{'/shops/create-repair/'+${shopID}}">Make an appointment</a></td>
    </div>
</div>
</body>
</html>