<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
<body class="standart">
<header th:replace="fragments :: header"></header>
<div class="col-6">
    <h2 class="def-text">Car history:</h2>
    <h3 class="def-text" th:unless="${repairsDone} and ${repairsDone.size()}">There is no history for this car!</h3>
    <table th:if="${repairsDone.size()>0}" class="table-template">
        <th>Car</th>
        <th>Car Shop</th>
        <th>Service done</th>
        <th>Repaired on</th>
        <tr th:each="repairDone : ${repairsDone}">
            <td th:text="${repairDone.car.brand}"></td>
            <td th:text="${repairDone.carShop.name}"></td>
            <td th:text="${repairDone.qualifications.qualificationName}"></td>
            <td th:text="${repairDone.reservationDate}"></td>
        </tr>
    </table>
</div>
</body>
</html>