<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="col-6">
    <h3>Edit car:</h3>
    <form action="#" th:action="@{/cars/update/{id}(id=${car.id})}" th:object="${car}" method="post">
        <div class="form-group">

            <label for="brand">Brand</label>
            <input class="form-control" type="text" th:field="*{brand}" placeholder="Brand" id="brand">
            <input class="form-control" type="text" th:field="*{model}" placeholder="Model" id="model">
            <input class="form-control" type="text" th:field="*{color}" placeholder="Color" id="color">
            <input class="form-control" type="text" th:field="*{registrationNumber}" placeholder="Registration Number" id="registrationNumber">
            <input class="form-control" type="number" th:field="*{manufactureYear}" placeholder="Manufacture Year" id="manufactureYear">
            <button type="submit" class="button">Update School</button>
        </div>
    </form>
</div>
</body>
</html>
