<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
<body>
<header th:replace="fragments :: header"></header>

<h2>All Shops:</h2>

<div class="col-6">
    <h3 th:unless="${cars} and ${cars.size()}">There are no cars!</h3>
    <table th:if="${cars.size()>0}" class="table-template">
        <th>Shop name</th>
        <th>Works with:</th>
        <tr th:each="car : ${cars}">
            <td class="collapsible" th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <td th:text="${car.color}"></td>
            <td th:text="${car.registrationNumber}"></td>
            <td th:text="${car.manufactureYear}"></td>
            <td><a class="btn btn-info" th:href="@{'/cars/car-history/'+${car.id}}">History</a></td>
            <td><a class="btn btn-info" th:href="@{'/cars/edit-car/'+${car.id}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/cars/delete/'+${car.id}}">Delete</a></td>
        </tr>
    </table>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
</body>
</html>
